@use "./style/fonts.scss";
@use "./style/reset.scss";
@use "./style/variables.scss";

@forward "./style/fonts.scss";
@forward "./style/reset.scss";
@forward "./style/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}